* {
    font-family: Roboto, Arial;
    box-sizing: border-box;
    transition: 100ms;
}

html {
    background-color: #eee1d5;
    padding: 0px;
}

body {
    margin: 0px;
}

h1 {
    font-size: 3.5rem;
    color: black;
    text-align: center;
    margin-bottom: 2px;
}

h2 {
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin-top: 2px;
}

.woltslika {
    height: 30vh;
    width: 30%;
    max-width: 300px;
}

.woltslika img {
    width: 100%;
}

.maxislika {
    min-height: 30vh;
    width: 30%;
    max-width: 300px;
}

.maxislika img {
    margin-top: 125px;
    width: 100%;
}

.jaffaslika {
    min-height: 30vh;
    width: 30%;
    max-width: 300px;
}

.jaffaslika img {
    width: 100%;
}

.divprvasekcija {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 40vh;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    .divslike {
        height: 357px;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 1.8rem;
    }
    .divslike {
        height: 250px;
    }
}

.drugasekcija {
    max-width: 1000px;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.divdrugasekcija {
    background-image: url(../images/traka.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 5%;
    padding-left: 5%;
    width: 518px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divdrugasekcija img {
    max-width: 150px;
    margin: 30px 0px;
}

h4 {
    color: white;
    text-align: just;
}

.slikaPoredTrake {
    width: 60%;
}

.trecasekcija {
    max-width: 1000px;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.divtrecasekcija {
    background-image: url(../images/traka1.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 5%;
    padding-left: 5%;
    width: 518px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divtrecasekcija img {
    max-width: 150px;
    margin: 30px 0px;
}

h4 {
    color: white;
    text-align: justify;
}

.slikaPoredTrake1 {
    width: 36%;
}

.cetvrtasekcija {
    max-width: 1000px;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.divcetvrtasekcija {
    background-image: url(../images/traka.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 5%;
    padding-left: 5%;
    width: 518px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divcetvrtasekcija img {
    max-width: 150px;
    margin: 30px 0px;
}

h4 {
    color: white;
    text-align: justify;
}

.slikaPoredTrake1 {
    width: 36%;
}

.omotacZaSliku {
    width: 518px !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



