* {
    box-sizing: border-box;
    transition: 100ms;
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
}

html {
    background-color: #eee1d5;
}

header {
    padding: 1rem;
    background-color: #000f47;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.linkovi li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    border-bottom: 0px solid white;
    transition: 200ms;
    opacity: .6;
}

.linkovi li {
    list-style-type: none;
    padding: 1rem 0rem 1rem 3rem;
}

.linkovi {
    display: inline-block;
}

.munchlogo {
    width: 170px;
}

.active {
    font-weight: bolder;
    border-bottom: 2px solid white;
    opacity: 1 !important;
}

.linkovi li a:hover {
    border-bottom: 2px solid white;
    opacity: 1 !important;
}

.meni {
    display: none;
}

.linkovi li {
    float: left;
    display: block;
}

.linkovi .ikonica {
    width: 24px;
    height: 24px;
    background-image: url(../images/menu.png);
    background-size: 100%;
    display: none;
    margin: 2px 10px 0px 0px;
}

.iks {
    background-image: url(../images/close.png) !important;
    background-size: 100%;
}

footer {
    width: 100%;
    background: white;
    background-image: url(../images/footerFolija.png);
    text-align: center;
    box-shadow: 0px -7px 20px 0px #a3a3a3;
    z-index: 2;
}

.flexfooter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.socijalne a img {
    width: 75px;
    height: auto;
    padding: 20px;
}

.jaffaLogo {
    width: 90px;
    height: auto;
    padding: 20px;
}

.copyright {
    padding: 10px;
    margin: 0;
}

.vrh {
    background-color: #BC1620;
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 16px;
}

.vrh:hover {
    cursor: pointer;
}

.omotacUfooteru {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .munchlogo {
        padding-bottom: 10px;
    }
    html {
        font-size: 12px;
    }
    .linkovi li {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .flexfooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .jaffaLogo {
        width: 80px;
        height: auto;
        padding: 20px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 12px;
    }
    .linkovi li:not(:first-child) {
        display: none;
    }
    .linkovi {
        width: 100%;
        position: relative;
    }
    .linkovi a.ikonica {
        float: left;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .linkovi.mobilnaverzija {
        position: relative;
    }
    .linkovi.mobilnaverzija a.ikonica {
        position: absolute;
        right: 0;
        top: 0;
    }
    .linkovi.mobilnaverzija li {
        float: left;
        display: block;
        width: 80%;
        text-align: left;
    }
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.3rem;
}

section {
    padding: 10px;
}

.jedanSlajd {
    display: none;
    height: 90vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.jedanSlajd img {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

img {
    vertical-align: middle;
}

.omotacSlajdova {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prethodni,
.sledeci {
    background-color: #000f47;
    color: white;
    border-radius: 84%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

.sledeci {
    right: 0;
}

.prethodni:hover,
.sledeci:hover {
    background-color: #001871;
}

.text {
    font-size: 1.2rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.krug {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f7cba4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.kruzici {
    text-align: center;
}

.active2,
.krug:hover {
    background-color: #b69578;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

.sek2 {
    background-color: #BC1620;
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}