* {
    font-family: Roboto, Arial;
    padding: 0%;
    margin: 0%;
}

header {
    padding: 1rem;
    background-color: #000f47;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.linkovi li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.linkovi li {
    list-style-type: none;
    padding: 1rem 0rem 1rem 3rem;
}

.linkovi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}